body{
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.member-boxes{
    display: flex;
    flex-direction: row;
    
}
.member-single-box{
    padding: 18px;
    margin: 20px;
   padding-top: 25px;
   border-radius: 15px;
   background: #ffffff;
   box-shadow:  9px 9px 41px #e8e8e8,
                -9px -9px 41px #ffffff;
}