body{
    padding-left: 15px;
        font-family: Arial, sans-serif;
        color: #333;
        line-height: 1.6;
        overflow-x: hidden;  
}
.member-boxes{
    display: flex;
    flex-direction: row;
    
}
.member-single-box{
    padding: 18px;
    margin: 20px;
   padding-top: 25px;
   border-radius: 15px;
   background: #ffffff;
   box-shadow:  9px 9px 41px #e8e8e8,
                -9px -9px 41px #ffffff;
}
.footer {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    font-size: 14px;
    border-top: 1px solid #ddd;
}

.footer-section {
    text-align: center;
}

.footer-section input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.footer-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footer-icons i {
    font-size: 18px;
    color: #333;
}